@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


//////Mixins.........
@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

$color: rgb(29, 27, 27);

@mixin font($weight,$size){
    font-weight: $weight;
    font-family: 'Inconsolata', monospace;
     font-size:$size ;
}


@mixin keyframes($name){
    @keyframes  #{$name}{
        @content;
    }
}

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}


input{
    border: none;
    outline: none;
}
input::placeholder{
    @include font(500,1rem );
}